.action-container {
  flex: 1;
  width: 100vw;
  width: 100svw;
  width: 100dvw;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.scroll-btn {
  background-color: grey;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: transparent;
}

.action-icon {
  height: 20px;
  width: 20px;
  color: white;
}

.top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, 0%);
  width: 40px;
  height: 100px;
  z-index: 2;
}
.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, 0%);
  width: 40px;
  height: 100px;
  z-index: 2;
}

#window {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  display: inline-block;
}

.add-cat-btn {
  margin-right: 4px;
  border: none;
  border-radius: 50%;
  text-align: center;
  color: white;
  width: 15px;
  height: 15px;
}
.add-cat-icon {
  height: 10px;
  width: 10px;
}
.add,
.edit {
  background-color: #666;
}

.delete {
  background-color: red;
}
.check {
  background-color: green;
}

.category-text,
.main {
  border: 1px solid gray;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  font-size: 11px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 10px;
  transition: all 0.5s;
  min-width: 70px;
}

.main {
  background-color: white;
  color: black;
  border: dashed 1px gray;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  bottom: -93%;
  right: 48%;
  border-top: 1px solid gray;
  width: 25px;
  height: 26px;
  transform: rotate(90deg);
}

.list {
  float: left;
  position: relative;
  text-align: center;
  padding: 20px 5px;
  padding-bottom: 0;
  transition: all 0.5s;
}

.list ul {
  padding-top: 25px;
  position: relative;
}

.prompt-con {
  background-color: #d0cece;
  padding: 10px;
  border-radius: 6px;
  height: 80px;
  width: fit-content;
  margin: auto;
  margin-top: 5px;
}

.prompt-con button {
  margin-right: 5px;
  border: transparent;
  font-size: 12px;
  padding: 5px 10px;
}
.add-form {
  display: flex;
  gap: 3px;
  margin-top: 10px;
  float: right;
}
.add-form input {
  width: 100px;
}

.list li::before,
.list li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid gray;
  width: 50%;
  height: 25px;
}
.list li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid gray;
}

.list li:only-child::after,
.list li:only-child::before {
  display: none;
}

.list li:only-child {
  padding-top: 0;
}

.list li:first-child::before,
.list li:last-child::after {
  border: 0 none;
}

.list li:last-child::before {
  border-right: 1px solid gray;
}

.list ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid gray;
  width: 0;
  height: 25px;
}
